@use '../../layout/constants/_breakpoints' as bp;
@import '../../layout/constants/colors';
@import '../../layout/constants/scaleValue';

.storybookButton {
	border: 0;
	border-radius: scaleValue(8);
	cursor: pointer;
	display: inline-block;
	line-height: 1;

	&[data-customstyle='primary'] {
		color: white;
		background-color: #1ea7fd;
	}

	&[data-customstyle='secondary'] {
		color: #333;
		background-color: transparent;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
	}

	&[data-size='small'] {
		font-size: scaleValue(12);
		padding: scaleValue(20) scaleValue(16);
	}

	&[data-size='medium'] {
		font-size: scaleValue(14);
		padding: scaleValue(11) scaleValue(20);
	}

	&[data-size='large'] {
		font-size: scaleValue(16);
		padding: scaleValue(12) scaleValue(24);
	}
}
